<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Add Lecture</title>
    <style>
        
        body {
    font-family: 'Courier New', Courier, monospace;
    }


        .container {
            background-color: rgba(225, 225, 225, 0.5);
            padding: 20px;
            box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Info!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container mt-4">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Enter Title</label>
              <input type="text" class="form-control" name="title" value="{{lecture.title}}" id="title" placeholder="Enter title" required>
            </div>
            <div class="mb-3">
              <label for="lecture" class="form-label">Enter Lecture</label>
             <!-- {{ ckeditor.create() }}-->
               <textarea class="form-control rounded-0" name="lecture" id="lecture" placeholder="Enter Lecture" rows="7" required>{{lecture.lecture}}</textarea>
            
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Image</label>
                <input class="form-control" type="file" name="image" id="formFile">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
    </div>


    {{ ckeditor.load() }}
    {{ ckeditor.config(name='lecture') }}
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>