<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Home</title>
    <style>
        
        body {
    font-family: 'Courier New', Courier, monospace;
    }


        .container {
            background-color: rgba(225, 225, 225, 0.5);
            padding: 20px;
            box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Info!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container mt-4">
        <div class="box">
            <a href=" {{ url_for('teacher_logout')}} "><button type="submit" class="btn btn-success float-end">Logout</button></a>
            <h1> Profile </h1>
            <hr>
            <h3><b> Name: </b> <span style="float: right;">{{ g.user.tech_name }}</span></h3>
            <p><b> Email: </b><span style="float: right; text-align: justify;"> {{ g.user.email }} </span></p>
            <p><b> Address: </b> <span style="float: right;">{{ g.user.tech_address }} </span></p>
            <p><b> Contact: </b> <span style="float: right;">{{ g.user.tech_contact }} </span></p>
            <p><b> Subject: </b> <span style="float: right;">{{ g.user.sub.sub_name }}</span> </p>
            <p><b> Join Date: </b> <span style="float: right;">{{ g.user.join_date.strftime('%Y-%m-%d') }} </span></p>
        </div>
        <div class="button">
            <a href="  "><button type="submit" class="btn btn-secondary">Upload Lecture</button></a>
            <a href="  "><button type="submit" class="btn btn-secondary">View Lectures</button></a>
            <a href="  "><button type="submit" class="btn btn-secondary">Take Attendance</button></a>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>