<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Show Attendance</title>
    <style>
        
        body {
            font-family: 'Courier New', Courier, monospace;
        }

        .responsive {
            width: 100%;
            height: auto;
        }

        

        
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Info!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="container">
       
        <h1 class="text-center mt-4">Students Attendance</h1>
    
        <table class="table mt-4">
            <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Teacher</th>
                <th scope="col">Present</th>
                <th scope="col">Absent</th>
                <th scope="col">Leave</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
                {% for q in query %}
            <tr>
                <td> {{ q.std.id }} </td>
                <td> {{ q.std.std_name }} </td>
                <td> {{ q.stdclass.cls_name }} </td>
                <td> {{ q.t_lecture.tech_name }} </td>
                
                {% if q.attendance == 'Present' %}
                    <td>  {{q.attendance}}  </td>
                    <td> None </td>
                    <td> None </td>
                {% elif q.attendance == 'Absent' %}
                    <td> None </td>
                    <td>  {{q.attendance}}  </td>
                    <td> None </td>
                {% else %}
                <td> None </td>
                <td> None </td>
                <td>  {{q.attendance}}  </td>
                
                {% endif %}
                <td> {{ q.date.strftime("%d/%m/%Y") }} </td>
                
                
            </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <hr>      
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>