{% extends 'admin/base.html' %}

{% block content %} 

<div class="container">
    <div id="std-box">
        <h1> {{ students|length }} </h1>
        <a href="{{ url_for('student_Detials') }}"><h2>Total Students</h2></a>
    </div>

    <div id="tech-box">
        <h1> {{ teachers|length }} </h1>
        <a href="{{ url_for('teacher_detials') }}"><h2>Total Teachers</h2></a>
    </div>

    <div id="worker-box">
        <h1> {{ workers|length }} </h1>
        <a href="{{ url_for('worker_detials') }}"><h2>Total Workers</h2></a>
    </div>

    <div id="leave-std-box">
        <h1> {{ leave_std|length }} </h1>
        <a href="{{ url_for('leave_student_detials') }}"><h2>Total Leave Students</h2></a>
    </div>

    <div id="leave-tech-box">
        <h1> {{ leave_tech|length }} </h1>
        <a href="{{ url_for('leave_teacher_detials') }}"><h2>Total Leave Teacher</h2></a>
    </div>

    <div id="leave-worker-box">
        <h1> {{ l_worker|length }} </h1>
        <a href="{{ url_for('leave_worker_detials') }}"><h2>Total Leave Workers</h2></a>
    </div>

    <div id="worker-box">
        <h1> {{ classes|length }} </h1>
        <a href="{{ url_for('list_of_class') }}"><h2>Total Classes</h2></a>
    </div>

    <div id="sub-box">
        <h1> {{ subjects|length }} </h1>
        <a href="{{ url_for('list_of_subject') }}"><h2>Total Subjects</h2></a>
    </div>
</div>

{% endblock %}