{% extends 'admin/base.html' %}


{% block content %}

<div class="container">

  {% if query %}
  <h1 class="text-center mt-4">Search Result About! <span class="text-primary"> {{ query }} </span></h1>
  {% else %}
  <h1 class="text-center mt-4">Leave Workers Details</h1>
  {% endif %}
  

  <form action="" method="GET">
    <div class="row g-3 align-items-center mt-4">
      <div class="col-auto">
        <input type="search" name="query" id="inputPassword6" class="form-control" placeholder="Enter Worker Name" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </div>
  </form>


  <table class="table mt-4">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Contact</th>
          <th scope="col">LeaveDate</th>
          <th scope="col">Admin</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      {% for worker in leave_worker %}
      <tbody>
        <tr>
          <td> {{ worker.id }}</td>
          <td> {{ worker.leave_worker_name }} </td>
          <td> {{ worker.leave_worker_address }} </td>
          <td> {{ worker.leave_worker_contact }} </td>
          <td> {{ worker.leave_date.strftime('%Y-%m-%d') }} </td>
          <td> {{ worker.admin.username }} </td>
          <td> 
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Delete
              </button> 
          </td>
        </tr>
      </tbody>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">  Do you want to Delete!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <h5 class="card-title text-warning"> Worker<b style="color: black;"> {{ worker.leave_worker_name }}</b></h5>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{{ url_for('leave_worker_delete', id=worker.id) }}"><button type="button" class="btn btn-danger">Yes</button></a>
              </div>
          </div>
          </div>
        </div>
      {% endfor %}
  </table>

  <form action="{{ url_for('leave_worker_pdf') }}" method="POST"> 
    <button type="submit" class="btn btn-danger float-end">Generate Pdf</button>
  </form>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if prev_url %}
      <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
      {% endif %}

      {% if next_url %}
      <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>

</div>


{% endblock %}