{% extends 'admin/base.html' %}


{% block content %}

<div class="container">

  <a href=" {{ url_for('add_subject') }} ">
    <button type="submit" class="btn btn-success mt-2">Add Subject</button>
  </a>

<h1 class="text-center mt-4">List of Subject</h1> 

<table class="table mt-4">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Permanent Delete</th>
      </tr>
    </thead>
    {% for subject in subjects %}
    <tbody>
      <tr>
        <td>{{subject.id}} </td>
        <td><a href="  "> {{subject.sub_name}} </a></td>
        <td><a href=" {{ url_for('update_subject', id=subject.id) }} "><button type="submit" class="btn btn-success">Update</button></a></td>
        <!-- Button trigger modal -->
        <td>
          <button type="button" class="btn btn-danger ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel">  Do you want to remove! <b style="color: black;">{{ subject.sub_name }}</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="card-title"> </h5>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('delete_subject', id=subject.id) }}"><button type="button" class="btn btn-danger">Yes</button></a>
        </div>
    </div>
    </div>
    </div>
    {% endfor %}
  </table>
</div>


{% endblock %}