{% extends 'base.html' %}


{% block content %}

<div class="container">


  {% if query %}
  <h1 class="text-center mt-4">Search Result About! <span class="text-primary"> {{ query }} </span></h1>
  {% else %}
  <h1 class="text-center mt-4"> Leave Students Details</h1>
  {% endif %}

  <form action="" method="GET">
    <div class="row g-3 align-items-center mt-4">
      <div class="col-auto">
        <input type="search" name="query" id="inputPassword6" value="{{query}}" class="form-control" placeholder="Enter Student or Father Name" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </div>
  </form>

<table class="table mt-4">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Father Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">Class</th>
        <th scope="col">Admin</th>
        <th scope="col">Permanent Delete</th>
      </tr>
    </thead>
    {% for student in students %}
    <tbody>
      <tr>
        <td> {{ student.id }}</td>
        <td> {{ student.std_name }} </td>
        <td> {{ student.f_name }} </td>
        <td> {{ student.std_address }} </td>
        <td> {{ student.std_contact }} </td>
        <td>  {{ student.stdclass.cls_name }} </a></td>
        <td> {{ student.admin.username }} </td>
        <!-- Button trigger modal -->
        <td> 
            <button type="button" class="btn btn-danger ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
            </button>
        </td>
      </tr>
    </tbody>

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-warning" id="exampleModalLabel">  Do you want to permanent delete! <b style="color: black;">{{ student.std_name }} </b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="card-title"> </h5>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href=" {{ url_for('leave_student_delete', id=student.id) }} "><button type="button" class="btn btn-danger">Yes</button></a>
            </div>
        </div>
        </div>
      </div>
    {% endfor %}
  </table>
  <hr>

  <a href="{{ url_for('leave_student_pdf') }}"><button type="submit" class="btn btn-danger float-end">Generate Pdf</button></a>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if prev_url %}
      <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
      {% endif %}

      {% if next_url %}
      <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>


  
</div>
    

{% endblock %}