{% extends 'base.html' %}


{% block content %}

<div class="container">
<h1 class="text-center mt-4"> Students Details</h1>

<table class="table mt-4">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Father Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">Class</th>
        <th scope="col">Admin</th>
        <th scope="col">Profile</th>
      </tr>
    </thead>
    {% for student in students %}
    <tbody>
      <tr>
        <td> {{ student.id }}</td>
        <td> {{ student.std_name }} </td>
        <td> {{ student.f_name }} </td>
        <td> {{ student.std_address }} </td>
        <td> {{ student.std_contact }} </td>
        <td> <a href=" {{ url_for('class_wise_student', std_class=student.stdclass.id)}} "> {{ student.stdclass.cls_name }} </a></td>
        <td> {{ student.admin.username }} </td>
        <td> <a href=" {{ url_for('student_profile', id=student.id)}} "> <button type="submit" class="btn btn-success">  Profile </button> </a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <hr>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if prev_url %}
      <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
      {% endif %}

      {% if next_url %}
      <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
</div>


{% endblock %}