{% extends 'base.html' %}


{% block content %}

<div class="container">
  
     
  {% if query %}
  <h1 class="text-center mt-4">Search Result About! <span class="text-primary"> {{ query }} </span></h1>
  <td> <a href=" {{ url_for('teacher_detials') }} "> <button type="submit" class="btn btn-success">  Back </button> </a></td>
  {% else %}
  <h1 class="text-center mt-4">Teacher Details</h1>
  {% endif %}

  <form action="" method="GET">
    <div class="row g-3 align-items-center mt-4">
      <div class="col-auto">
        <input type="search" name="query" id="inputPassword6" value="{{query}}" class="form-control" placeholder="Enter Teacher Name" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </div>
  </form>

  <table class="table mt-4">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Contact</th>
          <th scope="col">Subject</th>
          <th scope="col">Admin</th>
          <th scope="col">Profile</th>
        </tr>
      </thead>
      {% for teacher in teachers %}
      <tbody>
        <tr>
          <td> {{ teacher.id }}</td>
          <td> {{ teacher.tech_name }} </td>
          <td> {{ teacher.email }} </td>
          <td> {{ teacher.tech_address }} </td>
          <td> {{ teacher.tech_contact }} </td>
          <td>  {{ teacher.sub.sub_name }} </td>
          <td> {{ teacher.admin.username }} </td>
          <td> <a href=" {{ url_for('teacher_profile', id=teacher.id) }} "> <button type="submit" class="btn btn-success">  Profile </button> </a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    <hr>
    

    <a href="{{ url_for('teacher_detials_pdf') }}"><button type="submit" class="btn btn-danger float-end">Generate Pdf</button></a>


    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if prev_url %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
        {% endif %}

        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
    
</div>


{% endblock %}