{% extends 'base.html' %}


{% block content %}

<div class="container">
<h1 class="text-center mt-4">Workers Details</h1>

<table class="table mt-4">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">Admin</th>
      </tr>
    </thead>
    {% for worker in workers %}
    <tbody>
      <tr>
        <td> {{ worker.id }}</td>
        <td> {{ worker.worker_name }} </td>
        <td> {{ worker.worker_address }} </td>
        <td> {{ worker.worker_contact }} </td>
        <td> {{ worker.admin.username }} </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>


{% endblock %}