{% extends 'administrator/base.html' %}



{% block content %} 

<div class="container">
    {% for notify in notifications %}
    <div class="m-2">
        <p class="text-capitalize text-justify">
            {{ notify.notification|safe }}
        </p>
        <p>
            <small class="text-muted">Notification on {{ notify.notify_date.strftime('%Y-%m-%d') }}</small>
        </p>
    </div>
    <a href=" {{ url_for('update_notification', id=notify.id) }} "><button class="btn btn-success ">Update</button></a>
    <!-- Button trigger modal -->
    
    <button type="button" class="btn btn-danger ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
    </button>

    <hr>
    

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-warning" id="exampleModalLabel">  Do you want to remove! </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="card-title"> </h5>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{{ url_for('delete_notification', id=notify.id) }}"><button type="button" class="btn btn-danger">Yes</button></a>
            </div>
        </div>
        </div>
      </div>
      {% endfor %}
</div>


{% endblock %}