{% extends 'administrator/base.html' %}



{% block content %} 

<div class="container">
    <form action="" method="POST" class="m-4">
        <div class="mb-3 mt-3">
            <label for="Notification"><b> Notification </b></label>
            {% if notify %}
            <textarea class="form-control" name="notification" id="Notification" rows="17" placeholder="Write Notification" required> {{notify.notification}} </textarea>
            {% else %}
            <textarea class="form-control" name="notification" id="Notification" rows="20" placeholder="Write Notification" required> Write Notification </textarea>
            {% endif %}    
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio" name="sender" value="Teacher_student" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Student/Teacher
            </label>
          </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio" name="sender" value="Teacher" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Teachers
            </label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio" name="sender" value="Student" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              Students
            </label>
        </div>
            <button type="submit"  class="btn btn-success">Submit</button>
    </form>
    
    <div id="std-box">
        <h1> {{ students|length }} </h1>
        <a href="{{ url_for('student_Detials') }}"><h2>Total Students</h2></a>
    </div>

    <div id="tech-box">
        <h1> {{ teachers|length }} </h1>
        <a href="{{ url_for('teacher_detials') }}"><h2>Total Teachers</h2></a>
    </div>

    <div id="worker-box">
        <h1> {{ workers|length }} </h1>
        <a href="{{ url_for('worker_detials') }}"><h2>Total Workers</h2></a>
    </div>

    <div id="leave-std-box">
        <h1> {{ leave_std|length }} </h1>
        <a href="{{ url_for('leave_student_detials') }}"><h2>Total Leave Students</h2></a>
    </div>

    <div id="leave-tech-box">
        <h1> {{ leave_tech|length }} </h1>
        <a href="{{ url_for('leave_teacher_detials') }}"><h2>Total Leave Teacher</h2></a>
    </div>

    <div id="leave-worker-box">
        <h1> {{ l_worker|length }} </h1>
        <a href="{{ url_for('leave_worker_detials') }}"><h2>Total Leave Workers</h2></a>
    </div>

    <div id="worker-box">
        <h1> {{ classes|length }} </h1>
        <a href="{{ url_for('list_of_class') }}"><h2>Total Classes</h2></a>
    </div>

    <div id="sub-box">
        <h1> {{ subjects|length }} </h1>
        <a href="{{ url_for('list_of_subject') }}"><h2>Total Subjects</h2></a>
    </div>
</div>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='notification') }}
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock %}